# Visual Studio
.vs/
*.suo
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json

# Visual Studio Cache
*.vcxproj.user
*.vcxproj.userosscache